html{
    font-size: 62.5%;
}


*{
    margin: 0;
    padding: 0;
}
    /* navbar */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    font-size: 1.6rem;
    background-color: black;
    box-shadow:white(10 ,5  , 6  , 25);
}
.nav-uderline{
    margin: 0 10px;
}

.Nav-list{
    display: flex;
    gap: 1.5rem;
    margin: 0 5rem;


}
.Nav-list li {
    list-style: none;
    padding: 1rem;

    
    
}



.Nav-list li a {
    text-decoration: none;
    font-size:1.5rem;
    color:wheat;
    cursor: pointer;

    
}
.Nav-list li a:hover{
    text-decoration-line: underline ;
    text-decoration-color:#c2292b;
    transition: 0.5ms;
}

img{
    max-width: 80px;
}
 .nav-order-btn{
    background-color: rgb(144, 14, 14);
    border: none;
    width:10rem;
    border-radius: 5px;
    padding: 1rem;
    
 }
 .nav-order-btn a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

 }
 /* Hero section */
 .hero-section{
    height: 800px;
    background-color: black;
    padding: 20px;

 }
 .grid-container{
    display: grid;
    grid-template-columns:500px 2fr;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    
 }





.grid-img{
display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;


}
.grid-img img{
    max-width: 100%;


}
.grid-text{
    font-size: 2rem;
    color: aliceblue;
    margin: 1rem;
    padding: 1rem;
    

}
.grid-text h1{
    font-size:4.8rem ;
    font-weight: 800;
}



.grid-text p{
    margin: 2rem 0;
  font-size: 18px;
}
.hero-btn{
    padding: 12px 25px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}







