html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}
/* navbar */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5.5rem;
  font-size: 1.6rem;
  background-color: #0e0e0e;
  box-shadow: white(10, 5, 6, 25);
  
}
.nav-uderline {
  margin: 0 10px;
}

.Nav-list{
  display: flex;
  gap: 1.5rem;
  margin: 0 5rem;
}
.Nav-list li {
  list-style: none;
  padding: 1rem;
}

.Nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffff;
  cursor: pointer;
}
.Nav-list li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #c2292b;
  transition: 0.5ms;
}

img {
  max-width: 80px;
}
.nav-order-btn {
  background-color: rgb(144, 14, 14);
  border: none;
  width: 10rem;
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

hr {
  width: 80px; /* make the line narrow */
  margin: 0 auto; /* center the line */
  border: none;
  height: 0.1rem;
  background-color: #fff;
  flex: none;
  text-align: center;
}
/* Hero section */
.hero-section {
  background: #000000;
  background: linear-gradient(
    178deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(255, 255, 255, 1) 70%,
    rgba(0, 0, 0, 1) 84%
  );
  padding: 2rem 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 500px 2fr;
  align-items: center;
  gap: 1rem;
  padding: 5rem;
}

.grid-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}
.grid-img img {
  max-width: 100%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
  left: 30%;
}
.food-smook {
  position: absolute;
  width: 40%;
  right: 10%;
  opacity: 0.45;
  filter: blur(8px);
  animation: smokeMove 6s infinite linear;
  z-index: 1;
}
.grid-text {
  font-size: 2rem;
  color: aliceblue;
  margin: 1rem;
  padding: 1rem;
}
.grid-text h1 {
  font-size: 4.8rem;
  font-weight: 800;
}

.grid-text p {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.hero-btn {
  background-color: rgb(144, 14, 14);
  border: none;
  width: 10rem;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
   text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.aboute {
  background-color: #000000;
  height: 50rem;
}

.about-page {
  background-color: #000000;
  height: 500px;
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 400px 1fr;
  align-items: center;
  justify-items: center;
}

.chef-img-div {
  margin-bottom: 50px;
}
.chef-img-div img {
  max-width: 150px;
}

.client-image {
}
.client-image img {
  max-width: 400px;
}
.aboute-page-text {
}
.aboute-page-text h4 {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #c2292b;
}
.aboute-page-text h2 {
  color: #ffff;
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: 900;
}
.aboute-page-text p {
  color: #ffff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem;
  line-height: 1.8;
}

.about-chef-image {
  margin-top: 200px;
}
.about-chef-image img {
  max-width: 200px;
}

/* menu */

.Menu-container {
  background-color: #000000;
  padding: 2rem;
}

.menu-title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 800;
  padding: 2rem auto;
  color: #c2292b;
}
.menu-describe {
  text-align: center;
  font-size: 4.5em;
  color: #ffff;
  padding: 1rem;
  font-style: inherit;
  font-weight: 800;
}
.menu-paragraph {
  text-align: center;
  font-size: 1.3em;
  color: #ffff;
  padding: 1em;
}

.food-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: auto; /* ⭐ enables horizontal scroll */
  overflow-y: hidden;
  padding: 1rem;
  scroll-behavior: smooth;
}
.food-box::-webkit-scrollbar {
  height: 8px;
}

.food-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.menu-box {
  flex: 0 0 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.9em;
  max-width: 250px;
}

.Foods-types-images {
}

.Foods-types-images img {
  width: 100%;
  max-width: 100%;
  height: 250px; /* ⭐ control image height */
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.Foods-types-images img:hover {
  transform: scale(1.05);
}
.Foods-types-title {
  font-size: 2em;
  font-weight: 900;
  color: #ffff;
}

.Foods-types-describe {
  font-size: 1em;
  color: rgb(174, 164, 164);
  padding: 1rem;
}

/* reservations  */
.Reservations {
  display: flex;
  gap: 2rem;
  padding: 5rem;
  background: linear-gradient(
    135deg,
    #0f0f0f,
    #1a1a1a,
    #0f0f0f
  );
  color: #fff;
}
.reservation-title {
  font-size: 5rem;
  font-weight: 800;
  padding: 2rem;
  text-align: center;
  
}
.reservation-image {
  flex: 1;
  display: flex;
  justify-content: center;
  
}
.reservation-image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
  
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.7));
  
}
.reservation-form {
  flex: 1;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
   padding: 40px;
   border-radius: 2rem;
   height: 100%;
   width: 100%;
  
}
.row {
  display: flex;
  gap: 1rem;
}
.feild {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex: 1;
}

label {
  font-size: 1.4rem;
  margin: 0.5rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  border: 1px solid #050505;
  border-radius: 4px;
  font-size: 14px;
  
}

.booking-btn {
  width: 60rem;
  height: 4rem;
  background-color: #c2292b;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5em;
  align-self: center;
  cursor: pointer;
  margin: auto;
}
button:hover {
  background: #e53935;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem 0;
}

.checkbox span {
  font-size: 1.3rem;
}

/* Social Media  */
.social-media{
  background-color: #050505;
  border-top-left-radius: 1rem;
  
}
.social-media h4{
  color: #c2292b;
  text-align: center;
  font-size: small;
  padding: 0.5rem;
}
.media-title{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  padding: 0.5rem;
}

.social-media h3{
  color:#ffff;
  text-align: center;
  padding: 0.6rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.social-image{
  margin: auto;
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 2rem;
  margin: 0 5rem 4rem;
}
.item{
  overflow: hidden;
  border-radius: 1.6rem;
  
}
.item img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.item2{
  grid-row: span 2;
  }
/* contact us */

.Stay-connect{
  display: flex;
  padding: 3rem;
  gap:2rem;
  background-color: rgb(144, 14, 14);
  border-radius: 3rem;
  object-fit: cover;
}
.contact-image{
  flex:1;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-image img{
  max-width: 200px;
  z-index: 0;
  position: relative;
  bottom: 9rem;
}



.contact-artical{
  height: 25rem;
  width: 32rem;
  border-radius: 16px;
  background-color: #c2292b;
  position:relative;
   bottom: 15rem;
   z-index: 1;

}
 



.contact-area{
  flex: 2;
  order:2;
}
.contact-area h4{
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  color: #fff;
}
.contact-area h2{
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  color: #ffff;

}




.contact-form{

  padding: 2rem;
  gap: 2rem;
}
.Contact-row{
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-feild{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  
}







.contact-feild input{
  font-size: 1rem;
  width:30rem;
  height: 3.3rem;
  background-color: #c2292b;
  border: none;
  
}


.contact-feild textarea{
  height: 15rem;
  width: 62rem;
  background-color: #c2292b;
  border: none;
}

.contact-feild label{
  font-size: 1.3rem;
  font-weight: lighter;
  color: #ffff;
  
}

.contact-btn{
  margin-top: 1rem;
  width: 62rem;
  height: 4rem;
  border-radius: 5px;
  border: none;

}